language: generic

sudo: required
services: 
  - docker

before_install:
  - docker build -t soumyabanerjee2k17/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true soumyabanerjee2k17/docker-react npm run test -- --coverage

#  deploy:
#   provider: elasticbeanstalk
#   region: "us-west-2"
#   app: "dockerapp"
#   env: "Dockerapp-env"
#   bucket_name: "elasticbeanstalk-us-west-2-3099494" 
#   bucket_path: "dockerapp"
#   on:
#     branch: master
    # access_key_id: $AWS_ACCESS_KEY
    # secret_access_key: "$AWS_SECRET_KEY"